services:
  nginx:
    image: nginx:alpine
    container_name: django_nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
    volumes:
      - ./ops/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./ops/maintenance/maintenance.html:/usr/share/nginx/html/maintenance.html:ro
      - ./ops/certs:/etc/nginx/certs:ro
    restart: unless-stopped

  web:
    build: .
    container_name: django_web
    command: gunicorn web_ma.asgi:application -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000
    volumes:
      - .:/app
    expose:
      - "8000"
    env_file:
      - .env.prod
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: redis_server
    ports:
      - "6379:6379"
    restart: unless-stopped

  celery:
    build: .
    container_name: django_celery
    command: celery -A web_ma worker --loglevel=info
    volumes:
      - .:/app
    env_file:
      - .env.prod
    depends_on:
      - redis
    restart: unless-stopped
